---
import BaseLayout from "../layouts/BaseLayout.astro";

const country = Astro.url.searchParams.get('country');
const results = country
  ? await fetch(
      `https://restcountries.com/v3.1/region/${country.toLowerCase()}`
    )
  : await fetch("https://restcountries.com/v3.1/all");
const data = await results.json();

const regions = ["Africa", "Americas", "Europe", "Asia", "Oceania"];

import countryType from '../types/country.ts';
1
import Card from '../components/Card.astro';
---

<BaseLayout>
	<label for="pet-select">Filter by Region:</label>
	<select name="region" id="regions">
		<option value=''>All</option>
		{regions.map(r => <option value={r}>{r}</option>)}
	</select>

	<input
		type="search"
		name=""
		id="search"
		placeholder="Enter Search Term.."
	/>

	<section aria-label="Countries!">
		{data.map((d: countryType) => 
			<Card 
				href={d.cca3}
				name={d.name.common} 
				population={d.population} 
				image={d.flags.png} 
				region={d.region}
				capital={d.capital}
			/>)}
	</section>
</BaseLayout>

<script>
	const searchInput = document.querySelector('#search') as HTMLInputElement;
	const regionsInput = document.querySelector('#regions') as HTMLSelectElement;

	const countries = Array.from(document.querySelectorAll('[data-country]'));

	searchInput?.addEventListener('input', e => {
		const value = e.target?.value.toLowerCase();
		
		countries.forEach(c => {
			if (!c.dataset.country.toLowerCase().includes(value)) {
				c.classList.add('hidden');
			} else {
				c.classList.remove('hidden');
			}
		});
	});

	regionsInput?.addEventListener('change', e => {
		if (e.target.value === '') {
			return window.location.assign(window.location.origin);
		}
		const url = new URL(window.location.origin);
		url.searchParams.set('country', e.target.value);

		// Replace current querystring with the new one
		window.location.assign(url);
	});

	// window on load
	function setDropdownInput() {
		const url = new URL(window.location);
		const { country } = Object.fromEntries(url.searchParams);
		if (country) {
			regionsInput.value = country;
		}
	}

	window.addEventListener('DOMContentLoaded', setDropdownInput);
	document.addEventListener('astro:after-swap', setDropdownInput);
</script>