---
import BaseLayout from '../../layouts/BaseLayout.astro';
import type { countryType } from '../../types/country';

const { page } = Astro.params;
// const results = await fetch(`https://restcountries.com/v3.1/alpha/${page}`);
const results = await fetch(`https://restcountries.com/v3.1/alpha/${page}`);

const data = (await results.json()) as countryType[];
---

<BaseLayout title={`${data[0].name.common} | Details`}>
    <button class="backBtn">Back</button>
    <section aria-label={`Info about ${data[0].name.common}`}>
        <img src={data[0].flags.png} alt="flag">
        <div class="details">
            <div>
                <p>Native Name:</p>
                <h1>{data[0].name.common}</h1>
            </div>
            <div>
                <p><strong>Population:</strong> {data[0].population.toLocaleString()}</p>
            </div>
            <div>
                <p>Subregion: {data[0].subregion}</p>
            </div>
            <div>
                <p>Capital: {data[0].capital}</p>
            </div>
        </div>
    </section>
</BaseLayout>

<style>
    .backBtn {
        display: block;
        margin: 1rem auto;
        padding: .5rem 1rem;
        outline: none;
        border: none;
    }

    section {
        width: fit-content;
        margin: 5rem auto;
        display: grid;
        place-items: center;
        grid-template-columns: repeat(2, 1fr);
    }
</style>

<script>
    const backBtn = document.querySelector('.backBtn');
    backBtn.addEventListener('click', () => history.back());
</script>