---
import BaseLayout from '../../layouts/BaseLayout.astro';
import type { countryType } from '../../types/country';

const { page } = Astro.params;
// const results = await fetch(`https://restcountries.com/v3.1/alpha/${page}`);
const results = await fetch(`https://restcountries.com/v3.1/alpha/${page}`);

const data = (await results.json()) as countryType[];
---

<BaseLayout title={`${data[0].name.common} | Details`}>
    <button class="backBtn">Back</button>
    <section aria-label={`Info about ${data[0].name.common}`}>
        <p>Native Name:</p>
        <h1>{data[0].name.common}</h1>
        <!-- <img src={data[0].flags} alt="flag"> -->
    </section>
</BaseLayout>

<style>
    .backBtn {
        display: block;
        margin: 1rem auto;
        padding: .5rem 1rem;
        outline: none;
        border: none;
    }
</style>

<script>
    const backBtn = document.querySelector('.backBtn');
    backBtn.addEventListener('click', () => history.back());
</script>