---
import BaseLayout from '../../layouts/BaseLayout.astro';
import type { countryType } from '../../types/country';

const { page } = Astro.params;
// const results = await fetch(`https://restcountries.com/v3.1/alpha/${page}`);
const results = await fetch(`https://restcountries.com/v3.1/alpha/${page}`);

const data = (await results.json()) as countryType[];
const country = data[0];

const allCountries = await fetch('https://restcountries.com/v3.1/all');
const dataCountries = await allCountries.json();
const borderCountries = dataCountries.filter((c: countryType) => 
    country?.borders?.includes(c.cioc));
---

<BaseLayout title={`${country.name.common} | Details`}>
    <button class="backBtn">Back</button>
    <section aria-label={`Info about ${country.name.common}`}>
        <img src={country.flags.png} alt="flag" transition:name={country.flags.png}>
        <div class="details">
            <h1 transition:name={country.cioc}>{country.name.common}</h1>
            <div class="country-info">
                <p><strong>Native Name:</strong> {country.name.common}</p>
                <p><strong>Population:</strong> {country.population.toLocaleString()}</p>
                <p><strong>Subregion:</strong> {country.subregion}</p>
                <p><strong>Capital:</strong> {country.capital}</p>
                <div class="border-countries">
                    <p>Bordering Counries:</p>
                    {borderCountries.map(c => (
                        <span>{c.name.common}</span>
                    ))}
                </div>
            </div>
        </div>
    </section>
</BaseLayout>

<style>
    .backBtn {
        display: block;
        margin: 1rem auto;
        padding: .5rem 1rem;
        outline: none;
        border: none;
        cursor: pointer;
    }

    section {
        width: fit-content;
        margin: 5rem auto;
        display: grid;
        place-items: center;
        grid-template-columns: repeat(2, 1fr);
    }

    h1 {
        font-size: 2rem;
    }

    .country-info {
        padding: 1rem 0 0;

        & p {
            margin-bottom: .5rem;
        }
    }

    /* just HTML tag didn't work? */
    strong {
        font-weight: bold;
        margin-right: .5rem;
    }

    span {
        padding: .25rem .5rem;
        margin-inline: .25rem;
        /* border: 1px solid #555; */
        background-color: #444;
        border-radius: .25rem;
    }
</style>

<script>
    const backBtn = document.querySelector('.backBtn');
    backBtn.addEventListener('click', () => history.back());
</script>